.container{
  display: flex;
  justify-content: center;
  background-color: #9FC2FE;
  align-items: center;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  color: #fff;
}

.menu{
  display: flex;
  align-content: space-between;
  flex-grow: 1;
}

.menuItems{
  padding: 10px;
}

.menuItems:hover{
  color: #3200FB;
  font-size: 1.05em;
}

.containerBotao{
  position: relative;
  display: flex;
  align-items: center;
  width: 220px;
}

.inputPesquisa{
  position: absolute;
  width: 170px;
  height: 30px;
  border-radius: 5px;
  font-size: .8em;
  padding: 10px;
}

.botaoPesquisa{
  position: absolute;
  left: 145px;
  color: #000;
}